#formulaire-parametres .input-field label {
    color: #fff !important;
}
 #formulaire-parametres .input-field input[type=text]:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

#conteneur {
    margin-left: 64px;
    margin-right: 64px;
}


#conteneur-plateau {
    margin: auto;
    position: relative;
}

#plateau {
    position: absolute;

    top: 32px;
    bottom: 32px;
    left: 32px;
    right: 32px;

    border: 1px solid #000;
}

#bille {
    position: relative;
    transform: translate(-32px, -32px);

    height: 64px;
    width: 64px;
    border-radius: 32px;

    transition: left .1s linear, top .1s linear;
}

#affichage-mot {
    overflow-wrap: break-word;
}

.valeur-direct {
    float: right;
    font-weight: bold;
}